DATABASE_URL="postgresql://postgres:postgres@localhost:5432/produtividade_azura?schema=public"
PORT=3000
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
